/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap'); */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Neoteric';
}

@font-face {
    font-family: 'Above';
    src: url('../font/Above.ttf') format('woff2');
}

@font-face {
    font-family: 'Neoteric';
    src: url('../font/Neoteric.ttf') format('woff2');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #0C101A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

canvas {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
}

::-webkit-scrollbar {
    background-color: #fff;
    border-radius: 100px;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #092f49;
    border-radius: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #0C101A;
    height: 10vh;
    -webkit-box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.75);
}

header .esquerda {
    display: flex;
    width: 11vw;
    align-items: center;
    justify-content: space-around;
    margin-left: 2vw;
}

header img {
    width: 3vw;
    height: 5vh;
}

header .esquerda h2 {
    font-family: 'Above';
    background: linear-gradient(to right, #fff, #ff8c00); /* Degradê cinza claro para laranja escuro */
    -webkit-background-clip: text; /* Define o fundo do texto como o degradê */
    -webkit-text-fill-color: transparent; /* Faz com que o texto seja preenchido com o fundo */
}

header .direita {
    display: flex;
    justify-content: space-around;
    width: 25vw;
    align-items: center;
}

header .direita h4 { 
    font-family: 'Neoteric';
    color: #fff;
}

#incio {
    width: 100vw;

}

#home {
    width: 100%;
    height: 85vh;
    margin: 0; /* Remove margens padrão */
    height: 100vh; /* Altura da tela inteira */
    /* background: radial-gradient(circle, #ff8c00 1%, #0C101A 35%); */
    /* background-repeat: no-repeat; Evita repetição do degradê */
    display: flex;
    flex-direction: column;
}

#home .mensage { 
    /* border: 2px solid red; */
    height: 40vh;
    margin-left: 10vw;
    margin-top: 20vh;
    color: #fff;
    display: flex;
}

#home .mensage #text {
    width: 16vw;
}

#home .mensage #image {
    display: flex;
    /* border: 2px solid blue; */
    height: 100vh;
    object-fit: cover;
    margin-top: -15vw;
}

.fontOrange {
    color: #ff8c00;
}

#imgCapa {

}

#title {
    color: #2D2D2D;
    font-size: 9em;
    font-family: 'Oswald';
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 10vh;
    margin-top: 20vh;
}

.center {
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#products {
    background-color: #092f49;
    position: absolute;
    top: 40vw;
    border-radius: 15px;
    width: 70vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

#products .center h2 { 
    color: #fff;
    text-shadow: #000 2px 3px 2px;
}

#solutions {
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
}

#solutions .solution {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 10vw;
    height: 15vh;
    color: #fff;
    text-align: justify;
}

#sobremim {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/moso\ 9.jpg);
    background-size: cover;
}

#sobremim .titulo {
    color: #fff;
    margin-top: 5vw;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
}

.titulo h2 {
    letter-spacing: 1rem;
    text-shadow: -2px 1px 2px #7e7e7e99;
}

.titulo h3{
    font-size: x-large;
    letter-spacing: 2rem;
}

.container {
    width: 100%;
    height: 88vh;
    display: flex;
}

.foto {
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#fotoLucas {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    object-fit: cover;
    -webkit-box-shadow: -5px 0px 17px -1px #7e7e7e99;
    -moz-box-shadow: -5px 0px 17px -1px #7e7e7e99;
    box-shadow: -5px 0px 17px -1px #7e7e7e99;
}

.topicos {
    display: flex;
    flex-direction: column;
    height: 50vh;
}

.topicos ul {
    margin-top: 20vh;
    margin-bottom: 15vh;
}

.topicos ul li {
    display: flex;
    align-items: center;
}

.topicos ul li i {
    margin-right: 15px;
    width: 3vw;
}

.topicos ul li h4, i {
    color: #f5f5f5;
}

#projetos {
    width: 100%;
    height: 100vh;
}

.carreira-box {
    height: 30vh;
    width: 100%;
    background-color: #121212;
    overflow: hidden;
    -webkit-box-shadow: 0px -6px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -6px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -6px 4px 0px rgba(0, 0, 0, 0.75);
}

.carreira-box h4 {
    color: #f5f5f5;
    padding: 20px;
}

.mais-info-btn:hover {
    cursor: pointer;
}

#fecha-mais-info {
    display: none;
}

.mais-info {
    width: 50vw;
    height: 70vh;
    background-color: #121212;
    position: absolute;
    left: 25%;
    top: 100%;
    -webkit-box-shadow: 0px -6px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -6px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -6px 4px 0px rgba(0, 0, 0, 0.75);
    animation: entra-info 1.0s ease;
}

@keyframes entra-info {
    0% {
        transform: translateY(110%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes sai-info {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    100% {
        transform: translateY(110%);
        opacity: 0;
    }
}

.mais-info h5 {
    padding: 30px;
    text-align: justify;
    color: #f5f5f5;
}

.mais-info h5 p {
    margin-bottom: 3vh;
}

#projetos {
    background-color: #000;
    height: 80vh;
}

#titulo-projetos {
    color: #f5f5f5;
    padding-left: 12vw;
    padding-top: 10vh;
}

/* CARROSSEL */
#carrossel{
    position: relative;
    margin: 0 100px;
}

#projetos main {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projetos img {
    height: 60vh;
}

.swiper {
    height: 500px;
}

.swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#contato {
    height: 10vh;
    background-color: #000;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#contato i {
    font-size: xx-large;
}


/*720p*/
@media screen and (max-width: 1400px){  
    #projetos .titulo {
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        height: 15vh;
    }
    
    #titulo-projetos{
        padding-top: 0;
    }

    .swiper{
        height: 400px;
    }
}


/*Mobile*/
@media screen and (max-width: 450px){
    #home #inicio #title{
        font-size: 50px;
    }
    
    #sobremim .titulo h2 {
        font-size: 15px;
    }
    
    #sobremim .titulo h3 {
        font-size: 10px;
        letter-spacing: 1rem;
    }
    
    .container{
        flex-direction: column;
    }
    
    .container .foto{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 30vh;
    }
    .container .foto #fotoLucas {
        width: 200px;
        height: 200px;
    }

    .container .topicos ul li{ 
        font-size: 15px;
        margin-left: 20px;
    }

    .mais-info{
        width: 100vw;
        left: 0;
        top: 102%;
    }

    #contato h3{
        font-size: 12px;
    }
    
    #carrossel {
        margin: 0 10px
    }

    .swiper {
        height: 600px;
        width: 600px;
    }

    .swiper-slide {
        width: 400px;
    }
    
    #projetos img{
        height: 600px;
        overflow: inherit;
    }
}

@media screen and (max-width: 450px) {
    header {
        display: flex;
        width: 100%;
    }

    header .esquerda {
        width: 50vw;
    }

    header .esquerda img {
        width: 40px;
    }
    
    header .direita h4 {
        display: none;
    }

    #home {
        height: max-content;
    }

    #home .mensage {
        width: 100%;
        height: max-content;
        margin-top: 0;
        margin-left: 0;
        padding-left: 3vw;
        display: flex;
        flex-direction: column;
    }

    #home .mensage #text {
        width: 80vw;
        height: max-content;
    }

    #home .mensage #image {
        margin-top: 0;
        width: 100vw;
        height: 90vw;
        object-fit: cover;
    } 

    #home .mensage #image img {
        width: 100%;
    }

    #products {
        position: static;
        width: 90vw;
        height: 80vh;
        margin: 0;
        border-radius: 20px;
        margin-bottom: 5vh;
    }

    #products .center h2 {
        margin-top: 2vh;
        width: 55vw;
        font-size: large;
    }

    #products #solutions {
        flex-direction: column;
        align-items: center;
        padding-top: 2vh;
    }

    #solutions .solution {
        /* border: px solid red; */
        width: 50vw;
        height: 20vh;
    }

    #sobremim .titulo h2 {
        letter-spacing: 10px;
    }

    #sobremim .topicos ul li{
        font-size: 12px;
    }

    #projetos img {
        width: 200px;
        height: 400px;
        margin-top: 10vh;
    }

    #contato {
        z-index: 1;
    }
}